/* Your custom styles here */
.bg-green-img-fixed{
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-green-img-fixed > div{
  background-color: rgba(11, 75, 34, 0.7);
}

.hidden-char {
  opacity: 0;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*================Fonts========================*/

/*add font in the file*/
/* Definición de la fuente Georgia */
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia.woff2") format("woff2"), /* Navegadores modernos */
  url("../assets/fonts/Georgia.woff") format("woff"),   /* Compatibilidad amplia */
  url("../assets/fonts/Georgia.otf") format("opentype"),
  url("../assets/fonts/Georgia.ttf") format("truetype");
  font-style: normal;
}

/* Definición de la fuente MinionPro */
@font-face {
  font-family: "MinionPro";
  src: url("../assets/fonts/MinionPro-Medium.woff2") format("woff2"), /* Navegadores modernos */
  url("../assets/fonts/MinionPro-Medium.woff") format("woff"),   /* Compatibilidad amplia */
  url("../assets/fonts/MinionPro-Medium.otf") format("opentype"),
  url("../assets/fonts/MinionPro-Medium.ttf") format("truetype");
  font-style: normal;
}

/* Implementación de la fuente en una clase */
.font-georgia {
  font-family: "Georgia", sans-serif;
  font-weight: 300;
}

.font-minionpro-regular {
  font-family: "MinionPro", sans-serif;
  /** soporte para Firefox y otros navegadores */
}


/*============================================*/

.reveal span {
  display: inline-block;
  opacity: 0;
}

/*==============================================*/

.img-families:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
}

.img-families{
  transition: transform 0.5s;
}


/*================General styles for popups ========================*/


/*======================================*/
.p-reveal {
  margin-bottom: 0;
  color: white;
}

.p-reveal-beige {
  margin-bottom: 0;
  color: #fffde4;
}

.line {
  transition: color 0.4s;
}
.line.visible {
  color: black;
}

/*======================================*/
/*=Styles for the scroll horizontal============== */

.scroll {
  width: 100vw;
}

.container-scroll {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.panel{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: white;
  position: relative;
  box-sizing: border-box;
}

.panel  img{
  aspect-ratio: auto;
  width: 100%;
  height: 100vh;
}

.tippy-box[data-theme~='tomato'] {
  background-color: white;
  color: black;
  font-family: 'MinionPro', sans-serif;
  //*add shadow to the tooltip */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  font-size: 1.2em;
}

/*======================================*/
/*=Styles for the tooltip============== */
/*======================================*/

.tooltip {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 30;
  pointer-events: none;
  text-align: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*=======================================*/

.blink-circle {
  animation: blink 4s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}


/*======================================*/
.speech-bubble {
  position: relative;
  background: white;
  border-radius: .4em;
  padding: 1em;
  font-weight: 300;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'MinionPro', sans-serif;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  margin-left: -15px;
  margin-bottom: -15px;
}

/*======================================*/

.beat {
  position:relative;
  animation: beat 1s infinite;
}

.beat::before, .beat::after {
  content:"";
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);

  border: 10px solid #106b37;
  border-radius:100%;
  animation: beat-animated linear 3s infinite;
}

.beat::after {
  animation-delay: -1.5s;
}

@keyframes beat-animated {
  0% { width: 70px; height: 70px; border: 10px solid #106b37; }
  100% { width: 120px; height: 120px; border: 10px solid transparent; }
}

/* Media queries */
@media (max-width: 320px) {
  /* phone */
  .beat::before, .beat::after {
    width: 50px;
    height: 50px;
  }
  @keyframes beat-animated {
    0% { width: 50px; height: 50px; border: 8px solid #106b37; }
    100% { width: 100px; height: 100px; border: 8px solid transparent; }
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;

