/* Your custom styles here */
.bg-green-img-fixed{
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-green-img-fixed > div{
  background-color: rgba(11, 75, 34, 0.7);
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.section-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .image-container {
    width: 300%;
    display: flex;
    justify-content: flex-start;
    img {
      width: 300%;
      height: 100vh;
    }
  }
}


@tailwind base;
@tailwind components;
@tailwind utilities;

