/* Your custom styles here */
.bg-green-img-fixed{
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-green-img-fixed > div{
  background-color: rgba(11, 75, 34, 0.7);
}

.hidden-char {
  opacity: 0;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*================Fonts========================*/

/*add font in the file*/
@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia.ttf") format("truetype");
  font-style: normal;
}

/*Add font in the file*/
@font-face {
  src: url("../assets/fonts/MinionPro-Medium.otf") format("truetype");
  font-family: "MinionPro";
  font-style: normal;
}


/* Implementación de la fuente en una clase */
.font-georgia{
  font-family: "Georgia", sans-serif;
  font-weight: 300;
}

.font-minionpro-regular {
  font-family: "MinionPro", sans-serif;
}

/*============================================*/

.reveal span {
  display: inline-block;
  opacity: 0;
}

/*==============================================*/

.img-families:hover{
  transform: scale(1.1);
  transition: transform 0.5s;
}

.img-families{
  transition: transform 0.5s;
}


/*================General styles for popups ========================*/


/*======================================*/
.p-reveal {
  margin-bottom: 0;
  color: white;
}

.p-reveal-beige {
  margin-bottom: 0;
  color: #fffde4;
}

.line {
  transition: color 0.4s;
}
.line.visible {
  color: black;
}

/*======================================*/

.image-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/*======================================*/
/*=Styles for the tooltip============== */
/*======================================*/

.tooltip {
  background-color: white;
  color: black;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 30;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*generate a triangle*/


@tailwind base;
@tailwind components;
@tailwind utilities;

